{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="Basic example for Room component.">
    <link rel="shortcut icon" type="image/png" href="{% static "/web_app/media/logos/creams-icon-logo.png" %}" />
    </meta>
    {% block scripts %}

    <script src="{% static "/web_app/js/jquery-3.2.1.js" %}"></script>
    <script src="{% static "/web_app/js/aframe/releases/1.3.0/aframe.js" %}"></script>
    <script src="{% static "/web_app/js/aframe/aframe-room-component.min.js" %}"></script>
    <script src="{% static "/web_app/js/aframe/aframe-ui-modal-component.min.js" %}">
    </script>
    <script>
        /**
         * Player for animation clips. Intended to be compatible with any model format that supports
         * skeletal or morph animations.
         */
        AFRAME.registerComponent('play-all-model-animations', {
            init: function () {
                this.model = null;
                this.mixer = null;

                var model = this.el.getObject3D('mesh');
                if (model) {
                    this.load(model);
                } else {
                    this.el.addEventListener('model-loaded', function (e) {
                        this.load(e.detail.model);
                    }.bind(this));
                }
            },

            load: function (model) {
                this.model = model;
                this.mixer = new THREE.AnimationMixer(model);
                this.model.animations.forEach(animation => {
                    this.mixer.clipAction(animation, model).play();
                });
            },

            tick: function (t, dt) {
                if (this.mixer && !isNaN(dt)) {
                    this.mixer.update(dt / 1000);
                }
            }
        });
        AFRAME.registerComponent('modify-materials', {
            init: function () {
                // Wait for model to load.
                this.el.addEventListener('model-loaded', () => {
                    // Grab the mesh / scene.
                    const obj = this.el.getObject3D('mesh');
                    // Go over the submeshes and modify materials we want.
                    obj.traverse(node => {
                        if (node.name.indexOf('ship') !== -1) {
                            node.material.color.set('red');
                        }
                    });
                });
            }
        });
    </script>
    {% endblock %}
    <script>
        {{x_script|safe}}
    </script>

</head>


<body>
    {% block exhibition%}
    {{custom_exhibition |safe }}
    {% endblock %}

</body>

</html>