{% extends 'web_app/bases/teacher_base.html' %}

{% load staticfiles %}

{% block scripts %}
<script>
    const exh_id = '{{exh_id}}';

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function goBack() {
        if (getCookie('crunch') !== "")
            document.location.href = getCookie('crunch');
        else
            document.location.href = "/web_app/teacher/assessment/";
    }
</script>
<script src="{% static "/web_app/js/customJS/assess_students_menu.js" %}"></script>
{{ block.super }}
<script src="{% static "/web_app/js/metronic/custom/pages/user-profile/followers.js" %}"></script>

{% endblock %}
{% block toolbar %}
<a href="/web_app/teacher/exhibition/" class="menu-item  me-0 me-lg-2">
    <!--begin:Menu link-->
    <span class="menu-link py-3">
        Initiate an
        Exhibition
    </span>
    <!--end:Menu link-->
</a>

<a href="/web_app/teacher/assessment/" class="menu-item here me-0 me-lg-2">
    <!--begin:Menu link-->
    <span class="menu-link py-3">
        Assessment
    </span>
    <!--end:Menu link-->

</a>

{% endblock %}

{% block content %}
<div class="container-fluid col-lg-9 col-11 col-xl-9 card-body p-lg-2">
    <div class="mb-2 text-center">
        <div class="row">
            <div class="col-sm">
                <!--begin::Title-->
                <h3 class="fs-2hx text-dark mb-5">Exhibitions by students</h3>
                <!--end::Title-->
            </div>
            <div class=" col-sm">
                <!--begin::help--><a href="#"
                    class="btn btn-success btn-success-custom fw-semibold px-8 py-3 teal ">Help</a>
                <!--end::help-->
                <!--begin::cancel--><a onclick="goBack()"
                    class="btn btn-success btn-success-custom fw-semibold px-8 py-3 gray ">Back to assignments</a>
                <!--end::cancel-->
                </button>
                <!--end::Submit-->
            </div>
        </div>
    </div>
</div>

<!--begin::Container-->
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
    <!--begin::Post-->
    <div class="content flex-row-fluid" id="kt_content">
        <!--begin::Row-->
        <div class="row g-6 mb-6 g-xl-9 mb-xl-9" id="first_row">
            <!--begin::Followers-->

            <!--end::Followers-->
        </div>
        <!--end::Row-->
        <!--begin::Row(for show more)-->
        <div class="row g-6 mb-6 g-xl-9 mb-xl-9 d-none" id="kt_followers_show_more_cards">
            <!--begin::Followers-->

            <!--end::Followers-->
        </div>
        <!--end::Row-->
        <!--begin::Show more-->
        <div class="d-flex flex-center">
            <button class="btn btn-primary" id="kt_followers_show_more_button">
                <!--begin::Indicator label-->
                <span class="indicator-label">Show more</span>
                <!--end::Indicator label-->
                <!--begin::Indicator progress-->
                <span class="indicator-progress">Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                <!--end::Indicator progress-->
            </button>
        </div>
        <!--end::Show more-->
    </div>
    <!--end::Post-->
</div>
<!--end::Container-->

{% endblock %}