{% extends 'web_app/bases/teacher_base.html' %}

{% load staticfiles %}

{% block scripts %}
<script>
    const filter = '{{value}}';
    console.log(filter);

    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    setCookie("crunch", document.location.href, 1);
</script>
<script src="{% static "/web_app/js/customJS/filterExhibitions.js" %}"></script>
{{ block.super }}
{% endblock %}

{% block toolbar %}
<a href="/web_app/teacher/exhibition/" class="menu-item  me-0 me-lg-2">
    <!--begin:Menu link-->
    <span class="menu-link py-3">
        Initiate an
        Exhibition
    </span>
    <!--end:Menu link-->
</a>

<a href="/web_app/teacher/assessment/" class="menu-item here me-0 me-lg-2">
    <!--begin:Menu link-->
    <span class="menu-link py-3">
        Assessment
    </span>
    <!--end:Menu link-->

</a>

{% endblock %}

{% block content %}
<div class="container-fluid card-body p-lg-2">
    <div class="mb-2">
        <div class="container-fluid col-lg-9 col-10 col-md-10 col-xl-10 card-body p-lg-2">
            <div class="row">
                <div class="col-sm-7 col-lg-4 col-7 col-xl-4">
                    <!--begin::Title-->
                    <h3 class="fs-2hx text-dark mb-5">Exhibition Assignments</h3>
                    <!--end::Title-->
                    <!--begin::Sub-title-->
                    <div class="fs-5 text-muted fw-semibold">Click on an initiated exhibition to view
                        the
                        corresponding students' exhibition rooms.</div>
                    <!--end::Sub-title-->
                </div>
                <div class="col-sm-5 col-lg-3 col-5 col-xl-3">
                    <!--begin::help-->
                    <a href="#" class="btn btn-success btn-success-custom fw-semibold px-8 py-5 teal ">Help</a>
                    <!--end::help-->
                    <!--begin::help-->
                    <a href="/web_app/teacher/dashboard/"
                        class="btn btn-success btn-success-custom fw-semibold px-8 py-5 gray ">Back</a>
                    <!--end::help-->
                    <!--begin::search-->
                </div>
                <div class="col-sm-12 col-lg-5 col-12 col-xl-5">
                    <div class="d-flex my-2">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative me-4">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                            <span class="svg-icon svg-icon-3 position-absolute ms-3">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                                        transform="rotate(45 17.0365 15.1223)" fill="currentColor">
                                    </rect>
                                    <path
                                        d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                        fill="currentColor"></path>
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <input type="text" id="kt_filter_search"
                                class="form-control form-control-sm form-control-solid w-400px ps-10"
                                placeholder="Search">
                        </div>
                        <!--end::Search-->
                    </div>
                    <!--end::search-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- begin:: carouselViews-->
<div class="card-body p-lg-17">
    <div class="mb-18">
        <div class="row">
            <!--begin::Wrapper-->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 gy-10" id="exh_page">
                <!--begin::Dynamic Content-->

                <!--end::Dynamic Content-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Team-->
    </div>
</div>
<!-- begin:: carouselViews-->
<div class="card-body p-lg-17">
    <div class="mb-18">
        <div class="row">
            <!--begin::Wrapper-->
            <div class="hidden text-center mb-12" id="error_filtering">
                <br>
                <br>
                <br>
                <!--begin::Title-->
                <h3 class="fs-2hx text-dark mb-5"> &nbsp; There aren't any exhbitions matching your criteria</h3>
                <!--end::Title-->
                <!--begin::Sub-title-->
                <div class="fs-5 text-muted fw-semibold">Zero "{{value}}" exhibitions found</div>
                <!--end::Sub-title-->
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 gy-10" id="exh_page">
                <!--begin::Dynamic Content-->


                <!--end::Dynamic Content-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Team-->
    </div>
</div>
<!-- end:: carouselViews-->
{% endblock %}