{% extends 'web_app/student_base.html' %}

{% load staticfiles %}




{% block toolbar %}
<a href="/web_app/student/exhibitions/" class="btn btn-success btn-success-custom fw-semibold px-8 py-3 gray ">Cancel</a>
<span>&nbsp;</span>
<a href="#" class="btn btn-warning fw-bold" id="save" onclick="saveExhibit()">Save Exhibition</a>
{% endblock %}

{% block content %}
<!---->

<script src="https://aframe.io/releases/1.3.0/aframe.js"></script>
<script src="{% static "/web_app/js/aframe/aframe-room-component.min.js" %}"></script>
<script defer src="{% static "/web_app/js/aframe/editor/editorFunctionalities.js" %}"></script>
<script defer src="{% static "/web_app/js/aframe/editor/physics.js" %}"></script>
<script defer src="{% static "/web_app/js/aframe/editor/system.js" %}"></script>
<script src="https://rawgit.com/IdeaSpaceVR/aframe-ui-modal-component/master/dist/aframe-ui-modal-component.min.js">
</script>
<div id="editor_holder" class="toolbar py-5 py-lg-5 ">
    <div class="container-fluid py-1 edit_pad">
    <div class="row gy-0 gx-14 ">
        <div id="myEmbeddedScene" class="col-sm">
            {% block basis %}
                {{basis|safe }}
            {% endblock %}
        </div>
        <div id="control_panel" class="col-sm">  
            <div class="tab-pane fade show active" id="kt_general_widget_1_3">
                <!--begin::Tables Widget 5-->
                <div class="card">
                    <!--begin::Header-->
                    <div class="card-header border-0 pt-5">
                        <div class="card-toolbar">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a id="rm1" class="nav-link btn btn-sm btn-color-muted btn-active btn-active-secondary fw-bold px-4 me-1 active"  data-bs-toggle="tab" href="#kt_table_widget_5_tab_1" onclick='setWalls(false)'>Size & Position</a>
                                </li>
                                <li class="nav-item">
                                    <a id="rm2" class="nav-link btn btn-sm btn-color-muted btn-active btn-active-secondary fw-bold px-4 me-1"  data-bs-toggle="tab" href="#kt_table_widget_5_tab_2" onclick='setWalls(true)'>Walls</a>
                                </li>
                                <li class="nav-item">
                                    <a id="rm3" class="nav-link btn btn-sm btn-color-muted btn-active btn-active-secondary fw-bold px-4 me-1 " data-bs-toggle="tab" href="#kt_table_widget_5_tab_3" onclick='setWalls(false)'>Artworks</a>
                                </li>
                                <li class="nav-item">
                                    <a id="rm4" class="nav-link btn btn-sm btn-color-muted btn-active btn-active-secondary fw-bold px-4 me-1" data-bs-toggle="tab" href="#kt_table_widget_5_tab_4" onclick='setWalls(false)'> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body py-3 scroll-y" id="artwork_selection">
                        <div class="tab-content ">
                            <!--begin::Tap pane-->
                            <div class="tab-pane fade show active" id="kt_table_widget_5_tab_1">
                                <div class="row mb-5">
                                    <!--begin::Col-->
                                    <div class="col-md-4 fv-row fv-plugins-icon-container" id="x-axis">
                                        <label for="x-axis" class="fs-5 fw-semibold mb-2">Width</label>
                                        <input id="x" class="form-control form-control-solid" placeholder="" name="x-axis">
                                    </div>
                                    <!--end::Col-->
                                    <!--begin::Col-->
                                    <div class="col-md-4 fv-row fv-plugins-icon-container" id="y-axis">
                                        <label for="y-axis" class="fs-5 fw-semibold mb-2">Height</label>
                                        <input id="y" class="form-control form-control-solid" placeholder="" name="y-axis">
                                    </div>
                                    <!--end::Col-->
                                    <!--begin::Col-->
                                    <div class="col-md-4 fv-row fv-plugins-icon-container" id="axis-btn">
                                        <label class="fs-5 fw-semibold mb-2">&nbsp;</label>
                                        <a href="#" class="btn btn-primary fw-bold" id="" onclick="handleSizeChange()">Change Size</a>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-5">
                                </div>
                                <div class="row mb-5">
                                    <a href="#" class="btn btn-primary fw-bold col-md-4  unvisible"></a>
                                    <a href="#" class="btn btn-primary fw-bold col-md-3 " id="" onclick="up()">&#8593;</a>
                                    <a href="#" class="btn btn-primary fw-bold col-md-5  unvisible"  ></a>
                                </div>
                                <div class="row mb-5">
                                    <a href="#" class="btn btn-primary fw-bold col-md-3 " id="" onclick="left()">&#8592;</a>
                                    <a href="#" class="btn btn-primary fw-bold col-md-1  unvisible"  ></a>
                                    <a href="#" class="btn btn-primary fw-bold col-md-3 " id="" onclick="down()">&#8595;</a>
                                    <a href="#" class="btn btn-primary fw-bold col-md-1  unvisible"  ></a>
                                    <a href="#" class="btn btn-primary fw-bold col-md-3 " id="" onclick="right()">&#8594;</a>
                                </div>
                                <div class="row mb-5 unvisible" id="text_alteration">
                                    <!--end::Col-->
                                    <!--begin::Col-->
                                    <div class="col-md-8 fv-row fv-plugins-icon-container" id="labellabel">
                                        <label for="label" class="fs-5 fw-semibold mb-2">Text</label>
                                        <input id="new_label" class="form-control form-control-solid" placeholder="" name="label">
                                    </div>
                                    <!--end::Col-->
                                    <!--begin::Col-->
                                    <div class="col-md-4 fv-row fv-plugins-icon-container" id="txt-btn">
                                        <label class="fs-5 fw-semibold mb-2">&nbsp;</label>
                                        <input type="color" id="html5colorpicker"  value="#ED4969" style="width:10%;">
                                        <a href="#" class="btn btn-primary fw-bold" id="change_text" onclick="changeText()">Change Text</a>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-5">
                                    <a href="#" class="btn btn-dark fw-bold col-md-12 " id="" onclick="deleteActiveElement()">Delete Element</a>
                                </div>
                            </div>
                            <!--end::Tap pane-->
                            <!--begin::Tap pane-->
                            <div class="tab-pane fade" id="kt_table_widget_5_tab_2">
                                <div class="mh-375px scroll-y me-n7 pe-7">
                                </div>
                            </div>
                            <!--end::Tap pane-->
                            <!--begin::Tap pane-->
                            <div class="tab-pane fade " id="kt_table_widget_5_tab_3">

                            </div>
                            <!--end::Tap pane-->
                            <!--begin::Tap pane-->
                            <div class="tab-pane fade" id="kt_table_widget_5_tab_4">

                            </div>
                            <!--end::Tap pane-->
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Tables Widget 5-->
            </div>

        </div>
    </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
{{ block.super }}
    <script defer src="{% static "/web_app/plugins/custom/fslightbox/fslightbox.bundle.js" %}"></script>
{% endblock %}
