{% extends 'web_app/student_base.html' %}

{% load staticfiles %}

{% block scripts %}
{{ block.super }}
<script src="{% static "/web_app/js/metronic/custom/pages/user-profile/followers.js" %}"></script>
<script src="{% static "/web_app/js/customJS/myartworks.js" %}"></script>

{% endblock %}
{% block toolbar %}
<a href="/web_app/student/exhibitions/" class="menu-item  me-0 me-lg-2">
    <!--begin:Menu link-->
    <span class="menu-link py-3">
        My Exhibitions
    </span>
    <!--end:Menu link-->
</a>

<a href="/web_app/student/artworks/" class="menu-item here me-0 me-lg-2">
    <!--begin:Menu link-->
    <span class="menu-link py-3">
        My Artworks
    </span>
    <!--end:Menu link-->

</a>

{% endblock %}
{% block content %}

<div class="container-fluid col-lg-9 col-11 col-xl-9 card-body p-lg-2">
    <div class="mb-2 text-center">
        <div class="row">
            <div class="col-sm">
                <!--begin::Title-->
                <h3 class="fs-2hx text-dark mb-5" align="left">My Artworks</h3>
                <h6 class="fw-semibold " align="left">Click on an artwork to manage its details </h6>
                <!--end::Title-->
            </div>
            <div class=" col-sm">
                <!--begin::Submit--><button type="submit" onclick="gotoAddArtwork()"
                    class="btn btn-success btn-success-custom fw-semibold px-10 py-3" id="kt_modal_new_target_submit">
                    <!--begin::Indicator label-->
                    <span class="indicator-label">Add Artwork</span>
                    <!--end::Indicator label-->
                    <!--begin::Indicator progress-->
                    <span class="indicator-progress">Please wait... <span
                            class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    <!--end::Indicator progress-->
                </button>
                <!--end::Submit-->
            </div>
        </div>
    </div>
</div>

<!--begin::Container-->
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
    <!--begin::Post-->
    <div class="content flex-row-fluid" id="kt_content">
        <!--begin::Row-->
        <div class="row g-6 mb-6 g-xl-9 mb-xl-9">
            <!--begin::Followers-->
            <!--begin::Col-->
            <div class="col-md-6 col-xxl-4">
                <!--begin::Card-->
                <div class="card">
                    <!--begin::Card body-->
                    <div class="card-body d-flex flex-center flex-column py-9 px-5" onclick="goThrough()">
                        <!--begin::Avatar-->
                        <div class="mb-5">
                            <img class="thumbnail" src="{% static "/web_app/media/picassoExhibition/pic14.webp"%}"
                                alt="image" />
                        </div>
                        <!--end::Avatar-->
                        <!--begin::Name-->
                        <a href="#" class="fs-4 text-gray-800 fw-bold mb-0 text-hover-primary">La Lecture</a>
                        <!--end::Name-->
                    </div>
                    <!--begin::Card body-->
                </div>
                <!--begin::Card-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 col-xxl-4">
                <!--begin::Card-->
                <div class="card">
                    <!--begin::Card body-->
                    <div class="card-body d-flex flex-center flex-column py-9 px-5" onclick="goThrough()">
                        <!--begin::Avatar-->
                        <div class="mb-5">
                            <img class="thumbnail" src="{% static "/web_app/media/picassoExhibition/pic15.webp"%}"
                                alt="image" />
                        </div>
                        <!--end::Avatar-->
                        <!--begin::Name-->
                        <a href="#" class="fs-4 text-gray-800 fw-bold mb-0 text-hover-primary">Nude in a black
                            armchair</a>
                        <!--end::Name-->
                    </div>
                    <!--begin::Card body-->
                </div>
                <!--begin::Card-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 col-xxl-4">
                <!--begin::Card-->
                <div class="card">
                    <!--begin::Card body-->
                    <div class="card-body d-flex flex-center flex-column py-9 px-5" onclick="goThrough()">
                        <!--begin::Avatar-->
                        <div class="mb-5">
                            <img class="thumbnail" src="{% static "/web_app/media/picassoExhibition/pic9.webp"%}"
                                alt="image" />
                        </div>
                        <!--end::Avatar-->
                        <!--begin::Name-->
                        <a href="#" class="fs-4 text-gray-800 fw-bold mb-0 text-hover-primary">Garson à la pipe</a>
                        <!--end::Name-->
                    </div>
                    <!--begin::Card body-->
                </div>
                <!--begin::Card-->
            </div>
            <!--end::Col-->


            <!--end::Followers-->
        </div>
        <!--end::Row-->
        <!--begin::Row(for show more)-->
        <div class="row g-6 mb-6 g-xl-9 mb-xl-9 d-none" id="kt_followers_show_more_cards">
            <!--begin::Followers-->
            <!--begin::Col-->
            <div class="col-md-6 col-xxl-4">
                <!--begin::Card-->
                <div class="card">
                    <!--begin::Card body-->
                    <div class="card-body d-flex flex-center flex-column py-9 px-5" onclick="goThrough()">
                        <!--begin::Avatar-->
                        <div class="mb-5">
                            <img class="thumbnail" src="{% static "/web_app/media/picassoExhibition/pic6.jpg"%}"
                                alt="image" />
                        </div>
                        <!--end::Avatar-->
                        <!--begin::Name-->
                        <a href="#" class="fs-4 text-gray-800 fw-bold mb-0 text-hover-primary">Gray Nights</a>
                        <!--end::Name-->
                    </div>
                    <!--begin::Card body-->
                </div>
                <!--begin::Card-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 col-xxl-4">
                <!--begin::Card-->
                <div class="card">
                    <!--begin::Card body-->
                    <div class="card-body d-flex flex-center flex-column py-9 px-5" onclick="goThrough()">
                        <!--begin::Avatar-->
                        <div class="mb-5">
                            <img class="thumbnail" src="{% static "/web_app/media/picassoExhibition/pic10.webp"%}"
                                alt="image" />
                        </div>
                        <!--end::Avatar-->
                        <!--begin::Name-->
                        <a href="#" class="fs-4 text-gray-800 fw-bold mb-0 text-hover-primary">Gray Nights</a>
                        <!--end::Name-->
                    </div>
                    <!--begin::Card body-->
                </div>
                <!--begin::Card-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 col-xxl-4">
                <!--begin::Card-->
                <div class="card">
                    <!--begin::Card body-->
                    <div class="card-body d-flex flex-center flex-column py-9 px-5" onclick="goThrough()">
                        <!--begin::Avatar-->
                        <div class="mb-5">
                            <img class="long_thumbnail" src="{% static "/web_app/media/picassoExhibition/pic7.jfif"%}"
                                alt="image" />
                        </div>
                        <!--end::Avatar-->
                        <!--begin::Name-->
                        <a href="#" class="fs-4 text-gray-800 fw-bold mb-0 text-hover-primary">Gray Nights</a>
                        <!--end::Name-->
                    </div>
                    <!--begin::Card body-->
                </div>
                <!--begin::Card-->
            </div>
            <!--end::Col-->
            <!--end::Followers-->
        </div>
        <!--end::Row-->
        <!--begin::Show more-->
        <div class="d-flex flex-center">
            <button class="btn btn-primary" id="kt_followers_show_more_button">
                <!--begin::Indicator label-->
                <span class="indicator-label">Show more</span>
                <!--end::Indicator label-->
                <!--begin::Indicator progress-->
                <span class="indicator-progress">Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                <!--end::Indicator progress-->
            </button>
        </div>
        <!--end::Show more-->
    </div>
    <!--end::Post-->
</div>
<!--end::Container-->

{% endblock %}