{% extends 'web_app/bases/teacher_base.html'%}

{% load staticfiles %}

{% block scripts %}

{{block.super}}
<script defer type="text/javascript" src="{% static "/web_app/js/customJS/new_artwork.js" %}"></script>


{% endblock %}

{% block toolbar %}
<a href="/web_app/student/exhibitions/" class="menu-item  me-0 me-lg-2">
    <!--begin:Menu link-->
    <span class="menu-link py-3">
        My Exhibitions
    </span>
    <!--end:Menu link-->
</a>

<a href="/web_app/student/artworks/" class="menu-item here me-0 me-lg-2">
    <!--begin:Menu link-->
    <span class="menu-link py-3">
        My Artworks
    </span>
    <!--end:Menu link-->

</a>

{% endblock %}

{% block content %}

<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <!-- begin:: middle-->
            <div class="card-body p-lg-17">
                <div class="mb-18">
                    <div class="container-fluid col-lg-9 col-11 col-xl-9 card-body p-lg-2">
                        <div class="row">
                            <div class="col-sm-12 col-lg-5 col-12 col-xl-7">
                                <!--begin::Title-->
                                <h3 class="fs-2hx text-dark mb-5">Add an Artwork</h3>
                                <!--end::Title-->
                            </div>
                            <div class="col-sm-12 col-lg-7 col-12 col-xl-5">
                                <!--begin::help--><a href="#"
                                    class="btn btn-success btn-success-custom fw-semibold px-8 py-3 teal ">Help</a>
                                <!--end::help-->
                                <!--begin::cancel--><a href="#" id="kt_modal_new_target_cancel"
                                    class="btn btn-success btn-success-custom fw-semibold px-8 py-3 gray ">cancel</a>
                                <!--end::cancel-->
                                <!--begin::Submit--><button type="submit"
                                    class="btn btn-success btn-success-custom fw-semibold px-10 py-3"
                                    id="kt_modal_new_target_submit">
                                    <!--begin::Indicator label-->
                                    <span class="indicator-label">Upload Artwork</span>
                                    <!--end::Indicator label-->
                                    <!--begin::Indicator progress-->
                                    <span class="indicator-progress">Please wait... <span
                                            class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                    <!--end::Indicator progress-->
                                </button>
                                <!--end::Submit-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    </div><br><br><br>
                    <div class=" py-5 py-lg-5" id="kt_toolbar">
                        <!--begin::Container-->
                        <div id="kt_modal_new_target" class="container-xxl py-5">
                            <!--begin::Form-->
                            <form action="artwork_submit" class="form mb-15 fv-plugins-bootstrap5 fv-plugins-framework"
                                method="POST" id="kt_modal_new_target_form" enctype='multipart/form-data'>
                                <input type='hidden' />
                                {% csrf_token %}
                                <!--begin::Row-->
                                <div class="row gy-0 gx-10">
                                    <div class="col-xl-4 blue">
                                        <!--begin::Image input wrapper-->
                                        <div class="mt-1 ">
                                            <!--begin::Image placeholder-->
                                            <style>
                                                .image-input-placeholder {
                                                    background-image: url('../../static/web_app/media/svg/files/blank-image.svg');
                                                }

                                                [data-theme="dark"] .image-input-placeholder {
                                                    background-image: url('../../static/web_app/media/svg/files/blank-image-dark.svg');
                                                }
                                            </style>
                                            <!--end::Image placeholder-->
                                            <!--begin::Image input-->
                                            <div class="image-input image-input-outline image-input-placeholder image-input-empty image-input-empty "
                                                data-kt-image-input="true">
                                                <!--begin::Preview existing avatar-->
                                                <div class="image-input-wrapper adjust_size"
                                                    style="background-image: url('');">
                                                </div>
                                                <!--end::Preview existing avatar-->
                                                <!--begin::Edit-->
                                                <label
                                                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                    data-kt-image-input-action="change" data-bs-toggle="tooltip"
                                                    data-kt-initialized="1"><i class="bi bi-pencil-fill fs-7"></i>
                                                    <!--begin::Inputs-->
                                                    <input type="file" id="image_src" name="src"
                                                        accept=".png, .jpg, .jpeg">
                                                    <!--<input type="hidden" name="image_remove">-->
                                                    <!--end::Inputs-->

                                                </label>
                                                <!--end::Edit-->
                                                <!--begin::Cancel-->
                                                <span
                                                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                    data-kt-image-input-action="cancel" data-bs-toggle="tooltip"
                                                    data-kt-initialized="1"><i class="bi bi-x fs-2"></i></span>
                                                <!--end::Cancel-->
                                                <!--begin::Remove-->
                                                <span
                                                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                    data-kt-image-input-action="remove" data-bs-toggle="tooltip"
                                                    data-kt-initialized="1"><i class="bi bi-x fs-2"></i></span>
                                                <!--end::Remove-->
                                            </div>
                                            <!--end::Image input-->
                                            <!--begin::Label--><label class="fs-6 fw-semibold mb-3"><span>Upload
                                                    Artwork</span><i class=" ms-1 fs-7" data-bs-toggle="tooltip"
                                                    aria-label="Allowed file types: png, jpg, jpeg."
                                                    data-kt-initialized="1" for="src"></i></label>
                                            <div class="fv-plugins-message-container invalid-feedback">
                                            </div>
                                            <!--end::Label-->
                                        </div>
                                        <!--end::Image input wrapper-->
                                    </div>
                                    <div class="col-xl-8 red">
                                        <!--begin::Input group-->
                                        <div class="row mb-5">
                                            <!--begin::Col-->
                                            <div class="col-md-6 fv-row fv-plugins-icon-container" id="title_input">
                                                <!--begin::Label--><label for="name"
                                                    class="required fs-5 fw-semibold mb-2">Title</label>
                                                <!--end::Label-->
                                                <!--begin::Input--><input type="text"
                                                    class="form-control form-control-solid" placeholder=""
                                                    name="title_input">
                                                <!--end::Input-->
                                                <div class="fv-plugins-message-container invalid-feedback">
                                                </div>
                                            </div>
                                            <!--end::Col-->
                                            <!--begin::Col-->
                                            <div class="col-md-6 fv-row fv-plugins-icon-container" id="year_input">
                                                <!--begin::Label--><label for="year"
                                                    class="required fs-5 fw-semibold mb-2">Year</label>
                                                <!--end::Label-->
                                                <!--begin::Input--><input type="text"
                                                    class="form-control form-control-solid" placeholder="" name="year">
                                                <!--end::Input-->
                                                <div class="fv-plugins-message-container invalid-feedback">
                                                </div>
                                                <!--end::Col-->
                                            </div>
                                            <!--end::Input group-->
                                        </div>
                                        <!--end::Input group-->
                                        <br>
                                        <!--begin::Input group-->
                                        <div class="row mb-5">
                                            <!--begin::Col-->

                                            <div class="d-flex flex-stack">
                                                <!--begin::Label-->
                                                <div class="me-5">
                                                    <label class="required fs-6 fw-semibold" name="type">Type of
                                                        Artwork</label>
                                                    <div class="fv-plugins-message-container invalid-feedback">
                                                    </div>
                                                </div>
                                                <!--end::Label-->
                                                <!--begin::Checkboxes-->
                                                <div>
                                                    <input class="form-check-input h-20px w-20px" type="radio"
                                                        id="2D Artworks" name="drone" value="2D Artworks" checked>
                                                    <label class="form-check-label fw-semibold" for="huey">2D
                                                        Artworks</label>
                                                </div>

                                                <div>
                                                    <input class="form-check-input h-20px w-20px" type="radio"
                                                        id="3D Artworks" name="drone" value="3D Artworks">
                                                    <label class="form-check-label fw-semibold" for="3D Artworks">3D
                                                        Artworks</label>
                                                </div>

                                                <div>
                                                    <input class="form-check-input h-20px w-20px" type="radio"
                                                        id="Installations" name="drone" value="Installations">
                                                    <label class="form-check-label fw-semibold"
                                                        for="Installations">Installations</label>
                                                </div>

                                                <div>
                                                    <input class="form-check-input h-20px w-20px" type="radio"
                                                        id="Time-based media" name="drone" value="Time-based media">
                                                    <label class="form-check-label fw-semibold"
                                                        for="Time-based media">Time-based media</label>
                                                </div>
                                                <!--end::Checkboxes-->
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->
                                        <br>
                                        <br>
                                        <!--begin::Input group-->
                                        <div class="row mb-5">
                                            <!--begin::Col-->
                                            <div class="col-md-3 fv-row fv-plugins-icon-container" id="height_input">
                                                <!--begin::Label--><label for="height"
                                                    class="required fs-5 fw-semibold mb-2">Height <span class="text-muted">(in meters)</span></label>
                                                <!--end::Label-->
                                                <!--begin::Input--><input type="text"
                                                    class="form-control form-control-solid" placeholder=""
                                                    name="height">
                                                <!--end::Input-->
                                                <div class="fv-plugins-message-container invalid-feedback">
                                                </div>
                                            </div>
                                            <!--end::Col-->
                                            <!--begin::Col-->
                                            <div class="col-md-3 fv-row fv-plugins-icon-container" id="width_input">
                                                <!--begin::Label--><label for="width"
                                                    class="required fs-5 fw-semibold mb-2">Width <span class="text-muted">(in meters)</span></label>
                                                <!--end::Label-->
                                                <!--begin::Input--><input type="text"
                                                    class="form-control form-control-solid" placeholder="" name="width">
                                                <!--end::Input-->
                                                <div class="fv-plugins-message-container invalid-feedback">
                                                </div>
                                            </div>
                                            <!--end::Col-->
                                            <!--begin::Col-->
                                            <div class="col-md-3 fv-row fv-plugins-icon-container" id="depth_input">
                                                <!--begin::Label--><label for="depth"
                                                    class="required fs-5 fw-semibold mb-2">Depth</label>
                                                <!--end::Label-->
                                                <!--begin::Input--><input type="text"
                                                    class="form-control form-control-solid" placeholder="" name="depth">
                                                <!--end::Input-->
                                                <div class="fv-plugins-message-container invalid-feedback">
                                                </div>
                                            </div>
                                            <!--end::Col-->
                                            <!--begin::Col-->
                                            <div class="col-md-3 fv-row fv-plugins-icon-container" id="unit_input">
                                                <!--begin::Label--><label for="unit"
                                                    class="required fs-5 fw-semibold mb-2">Unit</label>
                                                <!--end::Label-->
                                                <!--begin::Input--><input type="text"
                                                    class="form-control form-control-solid" placeholder="" name="unit">
                                                <!--end::Input-->
                                                <div class="fv-plugins-message-container invalid-feedback">
                                                </div>
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="row mb-5">
                                            <!--begin::Col-->
                                            <div class="col-md-6 fv-row fv-plugins-icon-container" id="technique_input">
                                                <!--begin::Label--><label for="technique"
                                                    class="required fs-5 fw-semibold mb-2">Technique</label>
                                                <!--end::Label-->
                                                <!--begin::Input--><input type="text"
                                                    class="form-control form-control-solid" placeholder=""
                                                    name="technique">
                                                <!--end::Input-->
                                                <div class="fv-plugins-message-container invalid-feedback">
                                                </div>
                                            </div>
                                            <!--end::Col-->
                                            <!--begin::Col-->
                                            <div class="col-md-6 fv-row fv-plugins-icon-container" id="genre_input">
                                                <!--begin::Label--><label for="genre"
                                                    class="required fs-5 fw-semibold mb-2">Genre</label>
                                                <!--end::Label-->
                                                <!--begin::Input--><input type="text"
                                                    class="form-control form-control-solid" placeholder="" name="genre">
                                                <!--end::Input-->
                                                <div class="fv-plugins-message-container invalid-feedback">
                                                </div>
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->

                                    </div>
                                </div>
                                <!-- somethings missing-->
                                <!--end::Row-->
                            </form>
                        </div>
                        <!--end::Container-->
                    </div>
                </div>
                <!--end::Team-->
            </div>
            <!-- end:: middle-->
            <!--end::Body-->
            <!--end::Card-->
        </div>
        <!-- end:: carouselViews2-->
        <div class="toolbar py-5 py-lg-5" id="kt_toolbar">&nbsp;

        </div>
    </div>
</div>
{% endblock %}