{% extends 'web_app/bases/student_base.html' %}

{% load staticfiles %}

{% block scripts %}
<script src="{% static "/web_app/js/customJS/map_handling.js" %}"></script>
<script src="{% static "/web_app/plugins/custom/fslightbox/fslightbox.bundle.js"  %}"></script>
<script>
    const exh_id = '{{exh_id}}';
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYt547YY2r22dJMgJF9iq6otztcfsCGUY&callback=myMap">
</script>
{{ block.super }}

{% endblock %}


{% block toolbar %}
<a href="/web_app/student/exhibitions/" class="menu-item  here me-0 me-lg-2">
    <!--begin:Menu link-->
    <span class="menu-link py-3">
        My Exhibitions
    </span>
    <!--end:Menu link-->
</a>

<a href="/web_app/student/artworks/" class="menu-item  me-0 me-lg-2">
    <!--begin:Menu link-->
    <span class="menu-link py-3">
        My Artworks
    </span>
    <!--end:Menu link-->

</a>

{% endblock %}

{% block content %}
<div class="container-fluid col-lg-9 col-11 col-xl-9 card-body p-lg-2">
    <div class="mb-2 text-center">
        <div class="row">
            <div class="col-sm">
                <!--begin::Title-->
                <h3 class="fs-2hx text-dark mb-5" align="left">{{ exh_title }}</h3>
                <!--end::Title-->
                <h6 class="fw-semibold " align="left">by {{teacher }} </h6>
            </div>
            <div class=" col-sm">
                <!--begin::help--><a href="#"
                    class="btn btn-success btn-success-custom fw-semibold px-8 py-3 teal ">Help</a>
                <!--end::help-->
                <!--begin::cancel--><a href="/web_app/student/exhibitions/"
                    class="btn btn-success btn-success-custom fw-semibold px-8 py-3 gray ">Back</a>
                <!--end::cancel-->
                <!--end::Submit-->
                <!--begin::Submit--><button type="submit" onclick="submitOutdoor()"
                    class="btn btn-success btn-success-custom fw-semibold px-10 py-3" id="kt_modal_new_target_submit">
                    <!--begin::Indicator label-->
                    <span class="indicator-label">Save</span>
                    <!--end::Indicator label-->
                    <!--begin::Indicator progress-->
                    <span class="indicator-progress">Please wait... <span
                            class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    <!--end::Indicator progress-->
                </button>
            </div>
        </div>
    </div>
</div>
<div class="py-5 py-lg-5">&nbsp;</div>
<!--begin::Container-->
<div class="row">
    <div class="col-xl-0.5 col-0.5 col-sm-1">
    </div>
    <div class="col-xl-4 col-12 col-sm-12">
        <div id="googleMap" style="width0:50px;height:600px;"></div>
    </div>
    <div class="col-xl-7 col-12 col-sm-12">
        <label class="fs-2 fw-semibold mb-2">Description</label><textarea class="form-control form-control-solid"
            id='textArea' rows="10" name="message" placeholder="" style=" resize: none;"></textarea>
        <div>
            <div id="artworks" class="mh-350px scroll-y me-n7 pe-7">
                <!-- Dynamic Content-->

                <!-- Dynamic Content-->
            </div>
        </div>
    </div>

</div>
<div class="py-5 py-lg-5">&nbsp;</div>
<div class="py-5 py-lg-5">&nbsp;</div>
<!--end::Container-->
{% endblock %}