{% extends 'web_app/base.html' %}

{% load staticfiles %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "/web_app/js/index.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3 text-justify indexInstructions">
        <h1>Heading level one </h1>
            <h2>Heading level two</h2>

        <p>This is a sample paragraph</p>

        <input type="text" name="username" id="username" maxlength="30">
        <button onclick="displayUsername()">Display User</button>
    </div>
{% endblock %}