{% extends 'web_app/teacher_base.html'%}

{% load staticfiles %}

{% block scripts %}

{{block.super}}
<script type="text/javascript" src="{% static "/web_app/js/customJS/new_artwork_to_outdoor_exhibition.js" %}"></script>


{% endblock %}

{% block content %}



<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <!-- begin:: middle-->
            <div class="card-body p-lg-17">
                <div class="mb-18">
                    <div class="row">
                        <div class="col-sm">
                            <!--begin::Title-->
                            <h3 class="fs-2hx text-dark mb-5">Add artwork to outdoor exhibition</h3>
                            <!--end::Title-->
                        </div>
                        <div class="col-sm">
                            <!--begin::help--><a href="#"
                                class="btn btn-success btn-success-custom fw-semibold px-8 py-3 teal ">Help</a>
                            <!--end::help-->
                            <!--begin::cancel--><a href="#"
                                class="btn btn-success btn-success-custom fw-semibold px-8 py-3 gray ">cancel</a>
                            <!--end::cancel-->
                            <!--begin::Submit--><button type="submit"
                                class="btn btn-success btn-success-custom fw-semibold px-10 py-3"
                                id="kt_modal_new_target_submit">
                                <!--begin::Indicator label-->
                                <span class="indicator-label">Save and proceed to student selection</span>
                                <!--end::Indicator label-->
                                <!--begin::Indicator progress-->
                                <span class="indicator-progress">Please wait... <span
                                        class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                <!--end::Indicator progress-->
                            </button>
                            <!--end::Submit-->
                        </div>
                    </div><br><br><br>
                    <div class=" py-5 py-lg-5" id="kt_toolbar">
                        <!--begin::Container-->
                        <div id="kt_modal_new_target" class="container-xxl py-5">
                            <!--begin::Form-->
                            <form action="outdoor_submit" class="form mb-15 fv-plugins-bootstrap5 fv-plugins-framework"
                                method="POST" id="kt_modal_new_target_form">
                                <input type='hidden' />
                                {% csrf_token %}
                                <!--begin::Row-->
                                <div class="row gy-0 gx-10">
                                    <div class="col-xl-8 red">
                                        <!--begin::Input group-->
                                        <div class="row mb-5">
                                            <!--begin::Col-->
                                            <div class="col-md-12 fv-row fv-plugins-icon-container"
                                                id="exhibition_title_input">
                                                <!--begin::Label--><label for="artwork_fk"
                                                    class="required fs-5 fw-semibold mb-2">Art
                                                    ID</label>
                                                <!--end::Label-->
                                                <!--begin::Input--><input type="text"
                                                    class="form-control form-control-solid" placeholder=""
                                                    name="artwork_fk">
                                                <!--end::Input-->
                                                <div class="fv-plugins-message-container invalid-feedback">
                                                </div>
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="row mb-5">
                                            <!--begin::Col-->
                                            <div class="col-md-12 fv-row fv-plugins-icon-container"
                                                id="exhibition_title_input">
                                                <!--begin::Label--><label for="exhibition_fk"
                                                    class="required fs-5 fw-semibold mb-2">Exhibition
                                                    ID</label>
                                                <!--end::Label-->
                                                <!--begin::Input--><input type="text"
                                                    class="form-control form-control-solid" placeholder=""
                                                    name="exhibition_fk">
                                                <!--end::Input-->
                                                <div class="fv-plugins-message-container invalid-feedback">
                                                </div>
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="row mb-5">
                                            <!--begin::Col-->
                                            <div class="col-md-12 fv-row fv-plugins-icon-container"
                                                id="exhibition_title_input">
                                                <!--begin::Label--><label for="lat"
                                                    class="required fs-5 fw-semibold mb-2">Lat</label>
                                                <!--end::Label-->
                                                <!--begin::Input--><input type="text"
                                                    class="form-control form-control-solid" placeholder="" name="lat">
                                                <!--end::Input-->
                                                <div class="fv-plugins-message-container invalid-feedback">
                                                </div>
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="row mb-5">
                                            <!--begin::Col-->
                                            <div class="col-md-12 fv-row fv-plugins-icon-container"
                                                id="exhibition_title_input">
                                                <!--begin::Label--><label for="lon"
                                                    class="required fs-5 fw-semibold mb-2">Lon</label>
                                                <!--end::Label-->
                                                <!--begin::Input--><input type="text"
                                                    class="form-control form-control-solid" placeholder="" name="lon">
                                                <!--end::Input-->
                                                <div class="fv-plugins-message-container invalid-feedback">
                                                </div>
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->
                                    </div>
                                </div>
                                <!-- somethings missing-->
                                <!--end::Row-->
                            </form>
                        </div>
                        <!--end::Container-->
                    </div>
                </div>
                <!--end::Team-->
            </div>
            <!-- end:: middle-->
            <!--end::Body-->
            <!--end::Card-->
        </div>
        <!-- end:: carouselViews2-->
        <div class="toolbar py-5 py-lg-5" id="kt_toolbar">&nbsp;

        </div>
    </div>
</div>
{% endblock %}